<!DOCTYPE html>
  <head>
    <%-include('./partials/_headDefault.ejs');%>
    <link rel="stylesheet" type="text/css" href="./stylesheets/body.css">
    <title>Cuitan - Profile</title>
    <style>
      .containerCuit {
        margin: 0 20%;
        text-align: center;
      }

      .profile {
        text-align: center;
        margin: 0 5%;
        padding: 40px;
        font-size: 24px;
      }

      .inline {
        width: 50%;
        display: inline-block;
        /* border: 1px solid black; */
        box-sizing: border-box;
      }

      .profPict, .biodata {
        display: inline-block;
        /* border: 1px solid black; */
        box-sizing: border-box;
      }
      .profPict {
        width: 30%;
      }
      .biodata {
        width: 70%;
        text-align: left;
      }
      .username {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.5);
      }
      .bio {
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
      }

      .list {
        text-align: left;
        padding: 10px 25px;
        margin: 10px 0;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        box-sizing: border-box;
      }
      .list h6 {
        margin-left: 20px;
      }
    </style>
  </head>
  <body>
    <%-include('./partials/nav-bar.ejs');%>
    <div class="profile">
      <div class="inline">
        <div class="profPict">
          <span></span>
        </div><div class="biodata">
          <span><%=`${user.first_name} ${user.last_name}`%></span>
          <br><span class="username">@<%=user.username%></span>
          <%if(username === user.username) {%>
            <br><a href="/profiles/<%=username%>/updates"><button type="submit" class="btn btn-primary">Update profile</button></a>
          <%}%>
          <br><span class="bio">Bio:</span>
          <br><span class="bio"><%=user.bio%></span>
        </div>
      </div><div class="inline" class="follow">
        <span><a href="/profiles/<%=user.username%>/followings"><%=user.Following.length%> Followings</a></span>
        <br><span><a href="/profiles/<%=user.username%>/followers"><%=user.Follower.length%> Followers</a></span>
      </div>
    </div>
    <div class="containerCuit">
      <%if (user[path].length === 0) {%>
        <span class="username"><%=`${user.first_name} ${user.last_name}`%> currently not following anyone yet.</span>
      <%}%>
      <%for (let key of user[path]) {%>
        <div class="list">
          <h4><%=`${key.first_name} ${key.last_name}`%></h4>
        </div>
      <%}%>
    </div>
  </body>
</html>