<!DOCTYPE html>
  <head>
    <%-include('./partials/_headDefault.ejs');%>
    <link rel="stylesheet" type="text/css" href="./stylesheets/body.css">
    <title>Cuitan - Profile</title>
    <style>
      .container {
        margin: 0 20%;
      }
      .profile {
        text-align: center;
        margin: 0 5%;
        padding: 40px;
        font-size: 24px;
      }

      .inline {
        width: 50%;
        display: inline-block;
        border: 1px solid black;
        box-sizing: border-box;
      }

      .profPict, .biodata {
        display: inline-block;
        /* border: 1px solid black; */
        box-sizing: border-box;
      }
      .profPict {
        width: 30%;
      }
      .biodata {
        width: 70%;
        text-align: left;
      }
      .biodata .username {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.5);
      }
      .biodata .bio {
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
      }

      .cuit {
        padding: 0 25px;
        margin: 10px 0;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        box-sizing: border-box;
      }
      .cuit p {
        margin-left: 20px;
      }

      .form .input, .button {
        padding: 4px;
      }
      .form .input {
        width: 80%;
      }
    </style>
  </head>
  <body>
    <%-include('./partials/nav-bar.ejs');%>
    <div class="profile">
      <div class="inline">
        <div class="profPict">
          <span>disini akan<br>ada gambar</span>
        </div><div class="biodata">
          <span><%=`${user.first_name} ${user.last_name}`%></span>
          <br><span class="username">@<%=user.username%></span>
          <br><span class="bio">Bio:</span>
          <br><span class="bio"><%=user.bio%></span>
        </div>
      </div><div class="inline" class="follow">
        <span><%=user.Following.length%> Followings</span>
        <br><span><%=user.Follower.length%> Followers</span>
      </div>
    </div>
    <div class="container">
      <%for (let cuit of user.Cuits) {%>
        <div class="cuit">
          <h3><%=`${user.first_name} ${user.first_name}`%></h3>
          <p><%=cuit.body%></p>
          <div class="form">
            <form class="form" action="/profiles" method="POST">
              <input class="input" type="text" name="commentBody" placeholder="write comment...">
              <input class="button" type="submit" value="comment">
            </form>
          </div>

        </div>
      <%}%>
    </div>
  </body>
</html>